<!DOCTYPE html>
<html v-scope
      lang="en">
<head>
    <base href="/kozlemenyfigyeles/">
    <title>Kozlemenyfigyeles</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>

    <script src="https://unpkg.com/petite-vue" defer init></script>
    <script src="js/helpers.js"></script>
</head>
<body v-cloak>
    <main class="container">
        <table v-scope="{rows:[]}"
               @vue:mounted="fetch('https://retoolapi.dev/HcbINV/data').then(r=>r.json()).then(r=>rows=r)">
            <tr>
                <th v-for="(value,key) in rows[0]"
                    v-text="key"></th>
            </tr>
            <tr v-for="row in rows">
                <th v-for="cell in row"
                    v-text="cell"></th>
            </tr>
        </table>
    </main>
</body>
</html>